<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
  
	<!-- Application name and a short description -->
	<display-name>Cartel</display-name>
	<description>Cartel is a B2B e-commerce website</description>
  
	<!-- Set Session timeout to 30 minutes -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- servlet definitions -->
	
	<servlet>
		<servlet-name>homepage</servlet-name>
		<jsp-file>/browse-products.jsp</jsp-file>		
	</servlet>

	<!-- servlet mappings -->
		
	<servlet-mapping>
		<servlet-name>homepage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<!-- Define welcome file list -->
	<welcome-file-list>
		<welcome-file>browse-products.jsp</welcome-file>
		<welcome-file>browse-products.jsp</welcome-file>
		<welcome-file>browse-products.jsp</welcome-file>
	</welcome-file-list>
  
</web-app>